[defaults]
inventory         = inventory.ini
remote_user       = ubuntu
# file .pem terraform tạo ra nằm ở thư mục K8s/
private_key_file  = ../k8s-study.pem
host_key_checking = False
stdout_callback   = yaml

[privilege_escalation]
become        = true
become_method = sudo
