[defaults]
inventory         = inventory.ini
remote_user       = ubuntu
private_key_file  = ./k8s-study.pem
host_key_checking = False
stdout_callback   = ansible.builtin.default
result_format     = yaml
deprecation_warnings = False

[privilege_escalation]
become        = true
become_method = sudo