# templates/argocd-values.yaml.j2
global:
  nodeSelector:
    node-role.kubernetes.io/worker: ""

configs:
  params:
    # Tắt HTTPS redirect nội bộ của ArgoCD server
    # Đây là cách đúng để set --insecure flag trong argo-helm chart
    server.insecure: true

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: "argo.{{ domain_suffix }}"
    path: /
    pathType: Prefix
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    tls: false