# templates/argocd-values.yaml.j2
global:
  nodeSelector:
    node-role.kubernetes.io/worker: ""

configs:
  params:
    server.insecure: true
  # Set admin password mặc định (bcrypt hash của "123abc@A")
  secret:
    argocdServerAdminPassword: "$2a$10$mivumMHBvHL4V9FRKWkY1.f4YnHJiNZ/jVZP/z35IVgHIFRJMDhWC"
    argocdServerAdminPasswordMtime: "2024-01-01T00:00:00Z"

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: "argo.{{ domain_suffix }}"
    path: /
    pathType: Prefix
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    tls: false